logs/
crash-reports/
saves/
shaderpacks/
xaero/
blueprints/
trees/
schematics/
local/

config/ars_nouveau/search_index
config/jei/world
config/cinematic_respan.properties

/Distant_Horizons_server_data
/dynamic-data-pack-cache
/dynamic-resource-pack-cache
/debug

.probe/
.mixin.out/

servers.dat
servers.dat_old
command_history.txt
usercache.json
options.txt
minecraftinstance.json

config/ftbchunks-client.snbt